/* line 1, ../sass/_main.scss */
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  line-height: 100%;
}

/* line 3, ../sass/_main.scss */
.teal {
  background-color: #2ee5c6;
}
/* line 5, ../sass/_main.scss */
.teal a {
  color: #fff;
}

/* line 8, ../sass/_main.scss */
.grey {
  background-color: #e1e1e1;
}
/* line 10, ../sass/_main.scss */
.grey a {
  color: #323232;
}

/* line 13, ../sass/_main.scss */
.white {
  background-color: #fff;
}
/* line 15, ../sass/_main.scss */
.white a {
  color: #01b193;
}

/* line 18, ../sass/_main.scss */
.wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

/* line 19, ../sass/_main.scss */
section {
  padding: 50px 0;
}

/* line 23, ../sass/_main.scss */
header {
  padding-top: 50px;
}

/* line 25, ../sass/_main.scss */
.class_logo {
  max-width: 400px;
  width: 100%;
  margin: 0px auto;
}

/* line 32, ../sass/_main.scss */
.intro p {
  width: 100%;
  text-align: center;
  font-size: 22px;
  letter-spacing: 0.025em;
  line-height: 32px;
  font-weight: 500;
}

/* line 42, ../sass/_main.scss */
h2 {
  font-size: 18px;
  color: #01b193;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

/* line 49, ../sass/_main.scss */
ul {
  padding: 0;
  margin: 0;
}
/* line 52, ../sass/_main.scss */
ul li {
  list-style: none;
  padding: 15px 0;
}
/* line 55, ../sass/_main.scss */
ul li a {
  font-size: 28px;
  letter-spacing: 0.045em;
  text-decoration: none;
}
/* line 59, ../sass/_main.scss */
ul li a:hover {
  color: #01b193;
  -webkit-transition: ease-in-out 0.075s;
  -moz-transition: ease-in-out 0.075s;
  -o-transition: ease-in-out 0.075s;
  transition: ease-in-out 0.075s;
}
