body{padding: 0; margin: 0; font-family: 'Open Sans', sans-serif; line-height: 100%;}

.teal{
  background-color: $teal;
}

section {
  padding: 50px 100px;
}
header{padding-top: 50px;}

.class_logo{
  max-width: 400px;
  width: 100%;
  margin: 0px auto;
}

.intro{
  p{
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  }
}

h2{
  font-size: 24px;
  color: #323232;
  text-transform: uppercase;
}

ul{
  padding: 0;
  margin: 0;
li{
  list-style: none;
  padding: 15px 0;
  a{
    font-size: 22px;
    color:#fff;
    text-decoration: none;
    &:hover{
      color:#01b193;
      -webkit-transition: ease 1s;
      -moz-transition: ease 1s;
      -o-transition: ease 1s;
      transition: ease 1s;
    }
  }
}
}
